body {
  font-family: Arial;
  background: #0b111f;
  color: white;
  text-align: center;
}

.glass {
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 12px;
}

.logo {
  width: 260px;
  max-width: 90%;
}

.login-area {
  max-width: 300px;
  margin: 80px auto;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background: #fc6d00;
  color: white;
  border: none;
}

/* senha */
.senha-box {
  display: flex;
  justify-content: center;
}

.senha-box input {
  flex: 1;
}

.ver-senha {
  width: 50px;
}

/* preview */
.preview-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 10px;
}

canvas {
  width: 120px;
}

/* popup */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: #1e293b;
  padding: 20px;
}
